.library{
 display: flex; 
 
}

.categories{
  flex-grow: 1; 
}

.books{
  flex-grow: 4;
}

.categories ul{
  list-style: none;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  width: 250px;
  margin-left: 75px;
}

.categories ul li{
  padding-bottom: 20px;
  cursor: pointer;
}

.categories ul li:active{
  font-style: underline;
}
.books ul{
  list-style: none;
}

.books ul li{
  background: #F0F6F4;
  float: left;
  font-size: 20px;
  border: 1px solid #e2e1e1;
  margin: 10px;
  text-align: center;
  width: 200px;
  max-height: 550px;
  
}

.books ul li h5{
  font-size: 18px;
  padding:15px;
  margin: 0px;
  border-bottom: 1px solid #e2e1e1;
}


.books ul li img{
  width: 200px;
}


.books ul li a{
  display : block;
  text-decoration: none;
  color: black;
}


.read{
  font-size:16px;
}

.addBook{
  background: #67E081;
  color: black;
  padding: 6px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 120px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;

}

.deleteButton{
    margin :10px auto;
    background: #67E081;
    color: black;
    padding: 15px 45px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    
}