.library{
 display: flex; 
 
}

.categories{
  flex-grow: 1; 
}

.books{
  flex-grow: 4;
}

.categories ul{
  list-style: none;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  width: 250px;
  margin-left: 75px;
}

.categories ul li{
  padding-bottom: 20px;
  cursor: pointer;
}

.categories ul li:active{
  font-style: underline;
}
.books ul{
  list-style: none;
}

.books ul li{
  background: #F0F6F4;
  float: left;
  font-size: 20px;
  border: 1px solid #e2e1e1;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 410px;
  
}

.books ul li h5{
  font-size: 18px;
  padding:15px;
  margin: 0px;
  border-bottom: 1px solid #e2e1e1;
}


.books ul li img{
  width: 200px;
}


.books ul li a{
  display : block;
  text-decoration: none;
  color: black;
}


.read{
  font-size:16px;
}
