.main{
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.button{
  background: #67E081;
  color: black;
  padding: 15px 45px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
}