.addForm {
 padding-left: 30%;
 /* font-size: 1px; */
}
 
label{
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea{
  font-size: 14px;
  /* display: block; */
  border: 1px solid #ccc;
  width: 50%;
  height: 3rem;;
  padding-left: 10px;
  border-radius: 4px;
}

textarea{
  height: 10rem;
}

button{
  margin-top: 30px;
  background: #67E081;
  color: black;
  padding: 15px 45px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 15%;
}

.addBook{
  background: #67E081;
  color: black;
  padding: 6px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 120px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
}

.uploadStatus{
  color: #d54040;
  font-weight: bold;
}