h6 {
  padding: 10px;
  margin:0px;
}

.header{
  background: #F1F6F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-size: 36px;
}

.logo{
  width: 170px;
}

.addBook{
    background: #67E081;
    color: black;
    padding: 6px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 120px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}
